- [ [ :branch, :branches ], [ :user, :users ], [ :period, :periods ] ].each do |(object, objects)|
  = render partial: 'swat/pages/management/partials/action_bar', locals: { object: object, objects: objects }


