app/assets/javascripts/swat/bower_components/*/*.gzip
app/assets/javascripts/swat/bower_components/*/*.md
app/assets/javascripts/swat/bower_components/*/*.txt
app/assets/javascripts/swat/bower_components/*/*.json
app/assets/javascripts/swat/bower_components/*/*.map
app/assets/javascripts/swat/bower_components/*/*/*.gzip
app/assets/javascripts/swat/bower_components/*/*/*.md
app/assets/javascripts/swat/bower_components/*/*/*.txt
app/assets/javascripts/swat/bower_components/*/*/*.json
app/assets/javascripts/swat/bower_components/*/*/*.map
