//= require_tree .
//= require_self

@import "bootstrap";



#swat {
  font-size: 13px;


  h1, h2, h3 {
    text-align: center;
  }

  #subheader {
    h3 {
      margin: 5px;
    }
  }
  #content {

  }
}


