//= require_tree .
//= require_self

@import "bootstrap";

$greyBg: #9f9f9f;
$greenMain: greenyellow;

#swat {
  font-size: 13px;


  h1, h2, h3 {
    text-align: center;
  }

  #subheader {
    h3 {
      margin: 5px;
    }
  }
  #content {
    background: rgb(240, 240, 240);
  }
  #container {
    padding: 0px 15px 15px 15px;
  }
}
