/*
 *= require_tree .
 *= require_self
 */

body
  //color: lightgrey
  background: #4B4B4B

header
  background: rgb(61, 61, 61)
  color: white
  h2
    text-align: center

ul.cases
  li.case
    color: rgb(129, 205, 12)

#content
  margin-top: 25px
  background: rgb(240, 240, 240)

#container
  padding: 20px
  margin: 10px
  background: #ffffff

  #cases
    .case
      padding: 15px

      .description
        color: #747474

      .run-time
        color: #1e69e2

      .status
        &.failed
          color: red
        &.success
          color: #0a804c