//= require_tree .
//= require_self

@import "vars";
@import "bootstrap";

#swat {
  font-size: 13px;


  h1, h2, h3 {
    text-align: center;
  }

  #subheader {
    h3 {
      margin: 5px;
    }
  }
  #content {

  }


  table.info {
    font-size: 14px;
    background: $lightGreyBg;
    width: 100%;
    tr {
      border-bottom: 1px solid $whiteColor;
      td {
        padding: 12px;
        &.name {
          font-size: 16px;
          width: 200px;
          padding-left: 21px;
          color: $infoLabelColor;
        }
      }
    }
  }

  .info-widget-container {
    display: block;
    width: 100%;
  }
  .info-widget {
    background: $whiteColor;
    border: 1px solid $containerBorder;
    margin: 20px;
    padding: 28px 38px;
    width: $infoWidgetWidth;
    margin: auto;

    .heading {
      text-align: left;
      margin: 0;
      color: rgba(60, 56, 55, 0.68);
    }

    table {
      margin-bottom: 18px;
    }

  }


}


