#swat {

  #global-nav {

    background: grey;
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        button {
          background: none;
          width: 100%;
        }
      }
    }

  }

}

