$footerSize: 45px
$negativeFooterSize: -$footerSize

$commandWidth: 400px
$copyIconWidth: 30px
$commandTextWidth: $commandWidth - $copyIconWidth

html, body
  height: 100% !important
  min-height: 100%

#swat
  height: 100%
  min-height: 100%

  #container
    min-height: 100%

    .invisible
      opacity: 0

    .loader
      background: url('/assets/swat/loading-green.gif') no-repeat
      width: 50px
      height: 50px
      display: inline-block
      float: left
      margin-left: 16px

    .revision
      color: grey
      padding-top: 9px
      float: left
      width: 100%
      .revision-name
        padding-left: 10px
        color: black

    .total-examples
      background: #E8E8E8
      display: inline-block
      padding: 6px
      border-radius: 30px
      color: #887171
      font-weight: bold
      text-align: center
      margin-left: 10px

    #revisions-container
      tr
        cursor: pointer

    table#test-cases
      border-top: 0
      tr
        &:hover
          background: grey
        th
          border-top: 0
          background: #ffffff
        td.status
          font-weight: bold
          text-transform: capitalize
        td.command
          background: white
          width: $commandWidth
          cursor: pointer
          margin: 0
          padding: 0
          input
            width: $commandTextWidth
            margin-right: 5px
            height: 100%
            padding-left: 10px
            padding-right: 10px
            margin: 0
            border: none
            font-weight: bold
            background: black
            color: red

        &.failed
          background: mistyrose
          color: red
          td.command
            input
              color: rgb(223, 96, 96)
        &.passed
          background: lightgreen
          color: green
          td.command
            input
              color: rgb(129, 192, 129)


  .push
    height: $footerSize


  #footer 
    height: $footerSize
    margin-top: $negativeFooterSize
    text-align: center


  .nav-tabs
    margin-left: 12px
    margin-right: 12px
    span.label
      color: black
      font-size: 15px
    span.status
      &.in_progress_success
        color: rgb(192, 175, 84)
      &.in_progress_failed
        color: rgb(217, 140, 160)
      &.completed_failed
        color: rgb(242, 40, 77)
      &.completed_passed
        color: rgb(61, 168, 83)

  .tab-content
    .tab-pane
      padding: 12px
      padding-top: 0

  .copy-icon
    font-size: 20px
    display: inline-block
    text-decoration: none
    color: black
    margin-left: 5px


