$footerSize: 45px
$negativeFooterSize: -$footerSize

html, body
  height: 100% !important
  min-height: 100%

#swat
  height: 100%
  min-height: 100%

  #container
    min-height: 100%
    .revision
      color: grey
      padding-top: 9px
      .revision-name
        padding-left: 10px
        color: black

    #revisions-container
      tr
        cursor: pointer

    table#test-cases
      tr
        &:hover
          background: grey
        td.status
          font-weight: bold
          text-transform: capitalize
        td.command
          margin: 0
          padding: 0
          input
            width: 100%
            height: 100%
            padding-left: 10px
            padding-right: 10px
            margin: 0
            border: none
            font-weight: bold
            background: black
            color: red

        &.failed
          background: mistyrose
          color: red
          td.command
            input
              color: rgb(223, 96, 96)
        &.passed
          background: lightgreen
          color: green
          td.command
            input
              color: rgb(129, 192, 129)


  .push
    height: $footerSize

  .total-examples
    background: rgb(118, 204, 85)
    display: inline-block
    padding: 10px
    border-radius: 30px
    color: white
    font-weight: bold
    text-align: center
    margin-left: 10px


  #footer 
    height: $footerSize
    margin-top: $negativeFooterSize
    text-align: center


  .nav-tabs
    span.label
      color: black
      font-size: 15px
    span.status
      &.in_progress_success
        color: rgb(192, 175, 84)
      &.in_progress_failed
        color: rgb(217, 140, 160)
      &.completed_failed
        color: rgb(242, 40, 77)
      &.completed_passed
        color: rgb(61, 168, 83)


