@import "vars";

html, body {
  height: 100% !important;
  min-height: 100%;
}

body {
  overflow-y: scroll;
}

#swat {
  height: 100%;
  min-height: 100%;

  .controls {
    float: right;
    .btn {


      background-color: $greenBtnBg;
      color: $greenBtnColor;
      font-weight: bold;
      margin-right: 10px;
      &:hover {
        background-color: $greenBtnBgHover;
      }
    }
  }


  #container {
    background: $containerBg;
    margin: 0px 15px 0 15px;
    border: 1px solid $containerBorder;

    .has-status {
      &.in_progress_failed {
        color: $failedColor;
        background: $inProgressBg;
      }

      &.in_progress_success {
        color: $successColor;
        background: $inProgressBg;
      }

      &.completed_failed {
        color: $failedColor;
        background: $failedBg;
      }

      &.completed_passed {
        color: $successColor;
        background: $successBg;
      }

      &.terminated {
        color: $terminatedColor;
        background: $terminatedBg;
      }

    }

    .backtrace {
      background-color: $backtraceBg;
      padding: 10px;
      margin-bottom: 5px;
      color: $backtraceColor;
      border-radius: 3px;
      p {
        margin-bottom: 0;
        &.spec {
          color: $backtraceSpecColor;
        }
      }
    }

    min-height: 100%;
    .invisible {
      opacity: 0;
    }
    .loader {
      background: url("/assets/swat/loading-green.gif") no-repeat;
      width: 50px;
      height: 50px;
      display: inline-block;
      float: left;
      margin-left: 16px;
    }
    #revision-info {
      .revision {
        color: grey;
        padding-top: 9px;
        float: left;
        width: 100%;
        .revision-name {
          padding-left: 10px;
          color: black;
        }
        .revision-status {
          float: left;
          margin-left: 20px;
          &.in_progress_success, &.completed_passed {
            color: $successTitleColor;
          }
          &.in_progress_failed,&.completed_failed {
            color: $failedTitleColor;
          }
        }
      }
      .total-examples {
        background: #e8e8e8;
        display: inline-block;
        padding: 6px;
        border-radius: 30px;
        color: #887171;
        font-weight: bold;
        text-align: center;
        margin-left: 10px;
      }

      #metrics-container {
        background: white;
        border: 1px solid $containerBorder;
        border-top: none;
        min-height: 500px;
        overflow: hidden;
      }
      #charts-container {
        width: 500px;
        float: left;
      }
      #global-stats-container {
        padding: 30px;
        width: 500px;
        float: left;
        table {

        }
      }

    }
    #exceptions-groups {
      .failed-tests {
        .test-case {
          color: $failedCaseColor;
          margin-top: 3px;
        }

      }
    }

    #revisions-container {
      min-height: 50px;
      padding-top: 24px;

      .revisions-header {
        margin: 0;
        padding-right: 50px;
        padding-top: 8px;
      }
      .list {
        padding: 13px;
      }
      table.revisions-table {
        background: white;
        tr {
          cursor: pointer;
        }
      }
    }
    #revisions-container {
      tr {
        cursor: pointer;
      }
    }
    table#test-cases {
      border-top: 0;
      tr {
        cursor: default;
        th {
          border-top: 0;
          background: white;
          &.command {
            width: $commandWidth;
          }
          &.status {
            width: 100px;
          }
          &.duration {
            width: 100px;
          }
          &.exception {
            width: 400px;
          }
          &.thread {
            width: 250px;
          }
        }
        td {
          &:hover {}
          background-color: transparent;
          padding: 0;
          .cell {
            padding: 8px;
            display: block;
            //background: $greyBg;
          }
          .detailed-info {
            padding: 0 8px;
          }
        }
        td.status {
          font-weight: bold;
          text-transform: capitalize;
        }
        td.command {
          background: white;
          cursor: pointer;
          margin: 0;
          padding: 0;
          input {
            width: $commandTextWidth;
            margin-right: 5px;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
            border: none;
            font-weight: bold;
            background: $commandBg;
          }
        }
        &.failed {
          background: $failedTestCaseBg;
          color: $failedTestCaseColor;
          .main-info {
            cursor: pointer;
            &:hover {
              background: $failedTestCaseBgHover;
            }
          }
          td.command {
            input {
              color: $failedTestCaseCommandColor;
            }
          }
        }
        &.passed {
          background: $passedTestCaseBg;
          color: $passedTestCaseColor;
          td.command {
            input {
              color: $passedTestCaseCommandColor;
            }
          }
        }
      }
    }

    .revision-name-content {
      width: auto;
      display: inline-block;
    }

  }
  .push {
    height: $footerSize;
  }
  #footer {
    height: $footerSize;
    margin-top: $negativeFooterSize;
    text-align: center;


    background-color: $blackColor;
    color: $greenMain;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav-tabs {
    margin-left: 12px;
    margin-right: 12px;
    span.label {
      color: $blackColor;
      font-size: 15px;
    }
  }
  .tab-content {
    .tab-pane {
      padding: 12px;
      padding-top: 0;
    }
  }
  .copy-icon {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: $blackColor;
    margin-left: 5px;
  }
}
