#swat {
  $dropdownBg: #f5f5f5;
  $triangleColor: #858484;
  $dropdownBorder: #D9D9DA;
  $mainFont: Calibri;
  $defaultFontSize: 16px;
  $greenColor: #AAD46F;
  $dropdownBoxShadow: rgba(0,0,0,0.1);
  $fontColor: #7a7a7a;


  .custom-dropdown {
    position: relative;
    height: 44px;

    select {
      width: 100%;
      box-shadow: none;
      opacity: 0.001;
      position: absolute;
      z-index: 10;
      height: 39px;
      & + label.selected {
        position: absolute;
        width: 100%;
        color: #7a7a7a;
        text-transform: none;
        font-size: 16px;
        z-index: 5;
        height: 39px;
        padding-top: 8px;
        box-shadow: none;
        background-color: rgb(250, 250, 250);
      }
      border: 0;
      box-shadow: none;
      & option {
        padding: 7px;
      }
    }

    .icon {
      z-index: 999;
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: rgba(184, 184, 184, 0.2);
      height: 37px;
      width: 37px;
      padding: 10px 13px;
    }

    select:focus + label.selected {
      border-color: #8cc63e;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 198, 62, 0.6);
      &:after {
        right: 0;
      }
    }

    select.gl-disabled + label.selected {
      background: #F8F8F8;
    }


    .gl-dropdown:active {
      box-shadow: none;
    }

    ul.dropdown-menu {
      padding: 0;
      top: 45px;
      font-family: $mainFont;
      font-size: $defaultFontSize;
      max-height: 300px;
      width: 400px;
      overflow: auto;
      overflow-x: hidden;

      li {
        width: 390px;
        padding-top: 5px;

        a {
          display: block;
          padding: 5px 0 5px 30px;
          text-decoration: none;
          color: $fontColor;
          font-weight: normal;
          transition: all 0.3s ease-out;
          cursor: pointer;
        }

        &:hover {
          background-color: $dropdownBg;
        }
        &.active {
          a{
            background: $greenColor;
            color: white;
          }
        }
      }
    }
    .custom-dropdown-items.up {
      top: auto;
      bottom: 3px;
    }
    &.up .dropdown-menu {
      top: auto!important;
      bottom: 45px;
    }
  }
  .up .custom-dropdown .custom-dropdown-items{
    top: auto;
    bottom: 3px;
  }
}
